// Colors
$primary-colour: #973555;
$secondary-colour: #aa4465;

// Highlight
$highlight-colour: #f3739d;

// Main Text
$main-text-colour: #801f3f;
$light-text-colour: #fff2f6;

// Bug Colors
$open-bugs: #9aedbb;
$closed-bugs: #99e9fb;
$critical-bugs: #f55f5f;
